:root {
  --white: #fff;
  --gray: #f5f5f5;
  --dark: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

html {
  font-size: 1rem;
}

@media (min-width: 769px) {
  html {
    font-size: 1.2rem;
  }
}

@media (min-width: 1025px) {
  html {
    font-size: 1.5rem;
  }
}

@media (min-width: 1281px) {
  html {
    font-size: 1.6rem;
  }
}

@media (min-width: 1537px) {
  html {
    font-size: 1.8rem;
  }
}

a {
  text-decoration: none;
}

/* CONTAINER WIDTH CHECK */

.container-check {
  display: none;
  position: fixed;
  padding: 0.5rem;
  background-color: var(--white);
  color: var(--dark);
  border: 1px solid var(--dark);
  top: 1rem;
  left: 1rem;
  z-index: 1000;
}

html[data-env='dev'] .container-check {
  display: block;
}

.container-check span {
  display: none;
}

/* max-width: 640px */
@media (max-width: 640px) {
  span.max-width-640 {
    display: inline;
  }
}

/* max-width: 768px */
@media (min-width: 641px) and (max-width: 768px) {
  span.max-width-768 {
    display: inline;
  }
}

/* max-width: 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
  span.max-width-1024 {
    display: inline;
  }
}

/* max-width: 1280px */
@media (min-width: 1025px) and (max-width: 1280px) {
  span.max-width-1280 {
    display: inline;
  }
}

/* max-width: 1536px */
@media (min-width: 1281px) and (max-width: 1536px) {
  span.max-width-1536 {
    display: inline;
  }
}

/* max-width: 1536px */
@media (min-width: 1537px) {
  span.min-width-1537 {
    display: inline;
  }
}

/* CONTAINER */

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

/* UTILITY */

.space-x-4 > * + * {
  margin-left: 1rem;
}

.space-y-8 > * + * {
  margin-top: 2rem;
}

/* HERO */

.hero {
  height: 100vh;
  width: 100%;
  background: url('background.jpg') center center / cover no-repeat;
  position: relative;
  overflow: hidden;
  scroll-snap-align: start;
}

.hero-content {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.hero-body {
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 5%;
  width: 90%;
  display: flex;
  align-items: start;
  justify-content: center;
  z-index: 2;
}

@media (min-width: 1025px) {
  .hero-body {
    left: 10%;
    width: 70%;
    align-items: center;
  }
}

.hero-body h1 {
  margin-left: -0.5rem;
  font-size: 5rem;
  font-weight: bold;
  color: var(--white);
  letter-spacing: -0.2rem;
  text-shadow: 0px 0px 2px var(--dark);
}

.hero-body p {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -0.05rem;
  color: var(--white);
  text-shadow: 0px 0px 2px var(--dark);
}

.hero-body a {
  display: flex;
  align-items: center;
  width: fit-content;
  background-color: var(--white);
  padding: 1rem 2rem;
  border-radius: 1rem;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0px 0px 1px var(--dark);
}

.hero-body a:hover {
  background-color: var(--gray);
}

.hero-body a .title {
  color: var(--dark);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.hero-body a .version {
  color: var(--dark);
}

.app-image {
  position: sticky;
  top: 50vh;
  max-width: 100%;
  height: 60%;
  max-height: 90vh;
}

@media (min-width: 1025px) {
  .app-image {
    top: 0;
    right: 10%;
    height: 80%;
  }
}

/* SECTIONS */

.section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark);
  padding: 2rem 0;
}

.section.white {
  background-color: var(--white);
}

.section.gray {
  background-color: var(--gray);
}

.section .title {
  text-align: center;
  margin-bottom: 2rem;
}

.section .group-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 1025px) {
  .section .group-wrapper {
    gap: 1rem;
  }
}

.section .group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section .group .info {
  flex: 1;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section .group img {
  width: auto;
  max-height: 30vh;
  object-fit: cover;
  border-radius: 1rem;
  margin: 0 2rem;
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .section .group .info {
    margin-bottom: 1rem;
  }
}

@media (min-width: 769px) {
  .section .group img {
    width: 100%;
    max-width: 400px;
    height: auto;
    max-height: none;
  }
}

@media (min-width: 769px) {
  .section .group {
    flex-direction: row;
  }

  .section .group:last-of-type {
    flex-direction: row-reverse;
  }
}
