:root {
  --white: #fff;
  --gray: #f5f5f5;
  --dark: #333;
  --blue: rgb(10, 132, 255);
  --transparent-light: rgba(0, 0, 0, 0.5);
  --transparent-dark: rgba(0, 0, 0, 0.8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

html {
  font-size: 1rem;
}

@media (min-width: 769px) {
  html {
    font-size: 1.2rem;
  }
}

@media (min-width: 1025px) {
  html {
    font-size: 1.5rem;
  }
}

@media (min-width: 1281px) {
  html {
    font-size: 1.6rem;
  }
}

@media (min-width: 1537px) {
  html {
    font-size: 1.8rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

h2,
h3 {
  text-align: center;
  white-space: nowrap;
}

/* CONTAINER WIDTH CHECK */

.container-check {
  display: none;
  position: fixed;
  z-index: 1000;
  padding: 0.5rem;
  border: 1px solid var(--dark);
  color: var(--dark);
  background-color: var(--white);
  top: 1rem;
  left: 1rem;
}

html[data-env='dev'] .container-check {
  display: block;
}

.container-check span {
  display: none;
}

/* max-width: 640px */

@media (max-width: 640px) {
  span.max-width-640 {
    display: inline;
  }
}

/* max-width: 768px */

@media (min-width: 641px) and (max-width: 768px) {
  span.max-width-768 {
    display: inline;
  }
}

/* max-width: 1024px */

@media (min-width: 769px) and (max-width: 1024px) {
  span.max-width-1024 {
    display: inline;
  }
}

/* max-width: 1280px */

@media (min-width: 1025px) and (max-width: 1280px) {
  span.max-width-1280 {
    display: inline;
  }
}

/* max-width: 1536px */

@media (min-width: 1281px) and (max-width: 1536px) {
  span.max-width-1536 {
    display: inline;
  }
}

/* min-width: 1537px */

@media (min-width: 1537px) {
  span.min-width-1537 {
    display: inline;
  }
}

/* CONTAINER */

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

/* UTILITY */

.space-x-1 > * + * {
  margin-left: 1rem;
}

.space-y-1 > * + * {
  margin-top: 1rem;
}

.space-y-2 > * + * {
  margin-top: 2rem;
}

/* HERO */

.hero {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: url('background.jpg') center center / cover no-repeat;
  scroll-snap-align: start;
}

.hero-content {
  display: flex;
  position: relative;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}

.hero-body {
  display: flex;
  position: absolute;
  z-index: 2;
  width: 90%;
  justify-content: center;
  align-items: start;
  top: 10%;
  bottom: 10%;
  left: 5%;
}

@media (min-width: 1025px) {
  .hero-body {
    left: 10%;
    width: 70%;
    align-items: center;
  }
}

.hero-body h1 {
  font-size: 5rem;
  font-weight: bold;
  color: var(--white);
  margin-left: -0.5rem;
  letter-spacing: -0.2rem;
  text-shadow: 0px 0px 2px var(--dark);
}

.hero-body p {
  font-size: 2rem;
  font-weight: bold;
  color: var(--white);
  letter-spacing: -0.05rem;
  text-shadow: 0px 0px 2px var(--dark);
}

.hero-body a {
  display: flex;
  width: fit-content;
  padding: 1rem 2rem;
  background-color: var(--white);
  align-items: center;
  border-radius: 1rem;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0px 0px 1px var(--dark);
}

.hero-body a:hover {
  background-color: var(--gray);
}

.hero-body a .title {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--dark);
  letter-spacing: 0.1rem;
}

.hero-body a .version {
  color: var(--dark);
}

.app-image {
  position: sticky;
  height: 60%;
  top: 50vh;
  max-width: 100%;
  max-height: 90vh;
}

@media (min-width: 1025px) {
  .app-image {
    top: 0;
    right: 10%;
    height: 80%;
  }
}

/* SECTION */

.section {
  display: flex;
  padding: 4rem 0;
  color: var(--dark);
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.section.white {
  background-color: var(--white);
}

.section.gray {
  background-color: var(--gray);
}

.section .title {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 4rem;
}

.section .group-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 1025px) {
  .section .group-wrapper {
    gap: 1rem;
  }
}

.section .group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  min-width: 250px;
}

.section .info p {
  text-align: center;
}

.section .info .nowrap {
  white-space: nowrap;
}

.section .group img {
  width: auto;
  margin: 0 2rem;
  flex-shrink: 0;
  max-height: 30vh;
  object-fit: cover;
  border-radius: 1rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .section .group .info {
    margin-bottom: 1rem;
  }
}

@media (min-width: 769px) {
  .section .group img {
    width: 100%;
    max-width: 400px;
    height: auto;
    max-height: none;
  }
}

@media (min-width: 769px) {
  .section .group {
    flex-direction: row;
  }

  .section .group:last-of-type {
    flex-direction: row-reverse;
  }
}

/* IMAGE OVERLAY */

.overlay {
  display: flex;
  position: fixed;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: var(--transparent-dark);
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}

.overlay .wrapper {
  font-size: 1rem;
  text-align: center;
  color: var(--white);
  margin-top: 1rem;
}

.overlay .img {
  max-width: 90%;
  max-height: 90%;
  box-shadow: 0 0 1.5rem var(--transparent-light);
  border-radius: 0.5rem;
}

.overlay .caption {
  display: block;
  margin-top: 0.5rem;
}

.overlay .close {
  position: absolute;
  padding: 1rem;
  border: none;
  font-size: 2rem;
  color: var(--white);
  top: 1rem;
  right: 2rem;
  background: transparent;
  cursor: pointer;
}

/* FEATURES */

.features {
  display: grid;
  column-gap: 2rem;
  row-gap: 3rem;
}

@media (min-width: 769px) {
  .features {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1281px) {
  .features {
    grid-template-columns: repeat(4, 1fr);
  }
}

.features .feature-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features .feature-group svg {
  width: 4rem;
  height: 4rem;
  color: var(--blue);
}

/* ABOUT */

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 2rem;
  row-gap: 4rem;
}

@media (min-width: 1025px) {
  .about {
    flex-direction: row;
    justify-content: center;
  }
}

.about .about-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.about p {
  text-align: justify;
}

.about .qr {
  width: 50%;
  height: auto;
  border: 1px solid var(--transparent-light);
  border-radius: 0.5rem;
}

@media (min-width: 1025px) {
  .about .qr {
    width: 30%;
  }
}

.copyright {
  text-align: center;
  margin-top: 4rem;
}

.copyright p {
  display: flex;
  font-size: 1.2rem;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.copyright .link-github {
  color: var(--blue);
}
