:root {
  --white: #fff;
  --gray: #f5f5f5;
  --dark: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

window {
  overflow-y: scroll;
}

body,
html {
  height: 100%;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

/* CONTAINER CHECK */

.container-check {
  position: fixed;
  padding: 0.5rem;
  background-color: var(--white);
  color: var(--dark);
  border: 1px solid var(--dark);
  top: 1rem;
  left: 1rem;
  z-index: 1000;
}

.container-check span {
  display: none;
}

/* max-width: 640px */
@media (max-width: 639.98px) {
  span.max-width-640 {
    display: inline;
  }
}

/* max-width: 768px */
@media (min-width: 640px) and (max-width: 767.98px) {
  span.max-width-768 {
    display: inline;
  }
}

/* max-width: 1024px */
@media (min-width: 768px) and (max-width: 1023.98px) {
  span.max-width-1024 {
    display: inline;
  }
}

/* max-width: 1280px */
@media (min-width: 1024px) and (max-width: 1279.98px) {
  span.max-width-1280 {
    display: inline;
  }
}

/* max-width: 1536px */
@media (min-width: 1280px) {
  span.max-width-1536 {
    display: inline;
  }
}

/* CONTAINER CHECK end*/

a {
  text-decoration: none;
}

.space-x-4 > * + * {
  margin-left: 1rem;
}

.space-y-8 > * + * {
  margin-top: 2rem;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

/* HERO */

.hero {
  height: 100vh;
  width: 100%;
  background: url('background.jpg') center center / cover no-repeat;
  position: relative;
  overflow: hidden;
  color: var(--white);
}

.hero-content {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.hero-body {
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 10%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  border: 1px solid white;
}

.hero-body h1 {
  margin-left: -0.5rem;
  font-size: 10rem;
  font-weight: bold;
  color: var(--white);
  letter-spacing: -0.3rem;
}

.hero-body p {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: -0.05rem;
  color: var(--white);
}

.hero-body a {
  display: flex;
  align-items: center;
  width: fit-content;
  background-color: var(--white);
  padding: 1rem 2rem;
  border-radius: 1rem;
  transition: background-color 0.3s ease-in-out;
}

.hero-body a:hover {
  background-color: var(--gray);
}

.hero-body a .title {
  color: var(--dark);
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

.hero-body a .version {
  color: var(--dark);
}

.app-image {
  position: sticky;
  top: 0;
  right: 5%;
  max-width: 100%;
  height: 80%;
  max-height: 90vh;
  object-fit: contain;
}

/* SECTIONS */

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark);
}

.section.white {
  background-color: var(--white);
}

.section.gray {
  background-color: var(--gray);
}
